.desktop-1 .image-1 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  position: absolute;
  width: 1440px;
  height: 1402px;
}
.desktop-1 .ferris-wheel-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .container-1 {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 6.5px 6.6px 3.9px 0;
  box-sizing: border-box;
  border-radius: 10px
}
.desktop-1 .ferris-wheel-1 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .time {
  position: absolute;
  left: 50%;
  top: 15.5px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .bumpercar-1 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .bumpercar-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .time-1 {
  position: absolute;
  left: 50%;
  top: 15.5px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .time-2 {
  padding-top: 20px;
  margin: 0 -150px 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .haunted-house {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: absolute;
  left: 0.1px;
  bottom: 20px;
  width: 200.3px;
  height: 38.7px;
  border-radius: 10px
}
.desktop-1 .haunted-house-1 {
  position: absolute;
  left: 70px;
  top: 20px;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .haunted-house-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  left: 75px;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  bottom: 10px;
}
.desktop-1 .game-6 {
  position: relative;
  margin: 0 152px 148.6px 0;
  display: flex;
  padding-top: 47.9px;
  box-sizing: border-box;
}
.desktop-1 .circus-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .container-5 {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 4.1px 5.2px 5.6px 0;
  width: 143.3px;
  height: fit-content;
  box-sizing: border-box;
  justify-content: center; 
  align-items: center; 
  border-radius: 10px
}
.desktop-1 .circus {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .game-5 {
  position: relative;
  margin: 0 0 30.4px 283.1px;
  display: flex;
  padding-top: 50.5px;
  width: 143.3px;
  box-sizing: border-box;
}
.desktop-1 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.desktop-1 .game-4 {
  position: relative;
  margin-bottom: 59.4px;
  display: flex;
  padding: 16px 0 5.8px 0;
  box-sizing: border-box;
}
.desktop-1 .container-6 {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 4.4px 10px 5.2px 12px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 10px
}

.desktop-1 .time-4 {
  position: absolute;
  left: 50%;
  top: 16px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .game-2 {
  position: relative;
  margin-top: 61px;
  display: flex;
  padding-top: 51.6px;
  box-sizing: border-box;
}
.desktop-1 .container-3 {
  position: relative;
  margin: 0 236.9px 57.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 682.7px;
  box-sizing: border-box;
}
.desktop-1 .roller-coaster {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: absolute;
  left: 1.6px;
  bottom: 0px;
  width: 200px;
  height: 38.7px;
  border-radius: 10px
}
.desktop-1 .roller-coaster-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Inter';
  left: 65px;
  top: 10px;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .roller-coaster-1 {
  position: absolute;
  left: 75px;
  top: 10px;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .time-5 {
  position: absolute;
  left: 125%;
  top: 22px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400; 
  font-size: 20px;
  color: #000000;
}
.desktop-1 .game-3 {
  position: relative;
  margin-top: 53px;
  display: flex;
  padding: 53px 0 5.7px 0;
  box-sizing: border-box;
}
.desktop-1 .pirate-ship-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.desktop-1 .container-4 {
  border: 1px solid #000000;
  background: #D9D9D9;
  position: relative;
  display: flex;
  padding: 6.7px 3.3px 3px 10.7px;
  box-sizing: border-box;
  border-radius: 10px
}
.desktop-1 .pirate-ship-1 {
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 55.9px;
  height: 53.3px;
}
.desktop-1 .time-3 {
  position: absolute;
  left: 40%;
  top: 16px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.desktop-1 .game-1 {
  position: relative;
  margin-bottom: 52.7px;
  display: flex;
  padding-top: 49.3px;
  box-sizing: border-box;
}
.desktop-1 .container-2 {
  position: relative;
  margin-left: 219px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700.6px;
  box-sizing: border-box;
}
.desktop-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42.3px 0 614.3px 0;
  width: 1417px;
  box-sizing: border-box;
}
.image-9 {
  position: absolute;
  border-radius: 50%;
  background: url('../assets/images/man.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
  bottom: 440px;
  right: 510px;
}
.image-10 {
  position: absolute;
  border-radius: 50%;
  background: url('../assets/images/region.png') 50% / cover no-repeat;
  width: 100px;
  height: 100px;
  top:100px
}