.detail-book-view .home-page-button {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  background-color: white;
  color: #000000;
}
.detail-book-view .web-icon {
  transform: translateX(-25px); 
  position: relative;
  margin: 0 4px 26.1px 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 7px 15.3px 8.2px 16px;
  box-sizing: border-box;
}
.rectangle-32 {
  position: relative;
  background-color: white;
  width: 1037px;
  height: auto; 
  border: 2px solid rgba(157, 147, 6, 0.943);
  border-radius: 10px; 
}
.rectangle-32 .career_name{
  position: relative;
  font-size: 24px;
  color: #000000;
}
.rectangle-32 .career_salary{
  position: relative;
  font-size: 18px;
  color: #000000;
}
.rectangle-32 .career_area{
  position: relative;
  font-size: 18px;
  color: #000000;
}
.rectangle-32 .career_description{
  position: relative;
  font-size: 18px;
  color: #000000;
}
.rectangle-32 .career_tags{
  position: relative;
  font-size: 18px;
  color: #000000;
}
.detail-book-view .b {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 100;
  height: inherit;
  font-size: 20px;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  color: #000000;
  text-align: center; 
}
.home-page .sort-2 {
  width: 88px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .c {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-3 {
  width: 88px;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .d {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .e {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .f {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .g {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .h {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .j {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-10 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
ul { 
  margin: 0;
  padding: 0;
}
ul.quick-search-text li {
  position: relative;
}
ul.quick-search-text li:hover ul li a:hover  {
  border:5px solid black; 
}
ul.quick-search-text li:hover ul li a {
  border:1px solid black; 
  color: black;
  padding: 15px 20px;
}
.container-2{
  margin: 1px 16px 2.2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}
ul.quick-search-text li:hover > a {
  background-color: #ef5c28;
  color: #fff;
}
#major_List_1{
  z-index: 1;
  display: block;
  background-color: #D9D9D9;
  padding: 5px 10px; 
  width: auto; 
  margin-left: 10px;
}
ul.quick-search-text ul {
  opacity: 0;
  position:relative;
  display: none;
}   
ul.quick-search-text li:hover > ul {
  z-index: 99;
  opacity: 1;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}
.detail-book-view .i {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-9 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.detail-book-view .a {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-1 {
  
  position: relative;
  display: flex;
  flex-direction: row;
}
.detail-book-view .quick-search-text {
  position: relative;
  display: flex;
  width: 125px;
  display: inline-block;
  align-items: center;
  font-family: 'Open Sans', Arial, sans-serif;
}
.detail-book-view.container-7 {
  margin: 1px 16px 2.2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 200px; 
}
.detail-book-view .google-ad-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 96px;
  color: #000000;
}
.detail-book-view .google-ad-2 {
  background: #D9D9D9;
  position: relative;
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 135.1px 33px 0;
  width: 1278px;
  box-sizing: border-box;
}
.detail-book-view .tag-list {
  z-index: 10;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  color: #000000;
}
.detail-book-view .tag-list-1 {
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 856px;
  box-sizing: border-box;
}
.detail-book-view .bookpicture {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 48px;
  color: #000000;
  position: relative;
}
.detail-book-view .book-picture {
  position: relative;
  margin-right: 40.2px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
}
 .book-name {
  
  z-index: 10;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.detail-book-view .book-auther {
  z-index: 10;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin: 0 0.1px 18px 0.1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.detail-book-view .book-price {

  position: relative;
  margin: 0 0.2px 19px 0.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.detail-book-view .book-describe {
  z-index: 10;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  position: relative;
}
.container-3 {
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.square-frame {
  
  box-sizing: border-box;
  position: absolute;
  flex-direction: row;
  width: 920px;
  height: auto;
  background-color: #FFF8F2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.detail-book-view .container-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
  
}
.detail-book-view .container-4 {
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.detail-book-view .about-career {
  margin-bottom: 25px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.detail-book-view .about-career-1 {
  margin-bottom: 23px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.detail-book-view .about-career-2 {
  margin-bottom: 21px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.detail-book-view .about-career-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.detail-book-view .about-career-4 {
  border-radius: 10px;
  background-color: #e1c4ab;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  padding: 19px 0; 
  width: 377px;
  max-height: 800px;
  overflow: auto; 
  box-sizing: border-box;
}
.detail-book-view .container-5 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.detail-book-view .container {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.detail-book-view {
  background-color: #FFFFFF ;
  display: flex;
  flex-direction: row;
  padding: 47.1px 46px 0 46px;
  width: 1550px;
  height:1000px;
  box-sizing: border-box;
}
