.home-page .home-page-button {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  background-color: white;
  color: #000000;
}
.home-page .web-icon {
  transform: translateX(20px); 
  position: relative;
  margin: 0 4px 26.1px 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 7px 15.3px 8.2px 16px;
  box-sizing: border-box;
}
.home-page .b {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 100;
  height: inherit;
  font-size: 20px;
  border: 1px solid #ccc; 
  box-sizing: border-box;
  color: #000000;
  text-align: center; 
}
.home-page .sort-2 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.Burlywood_2 {
  width: 965px;
  height: 20px;
  background-color: #deb887;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.books{
  position: relative;
  /*background: linear-gradient(to right, #deb887, #f0e68c); */
}
.Burlywood_1 {
  position: absolute; 
  width: 965px; 
  height: 20px;
  top:270px; 
  left: 49%; 
  transform: translate(-50%, -50%);
  background-color: #deb887;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.Burlywood_2 {
  position: absolute; 
  width: 965px; 
  height: 20px;
  top:570px; 
  left: 49%; 
  transform: translate(-50%, -50%);
  background-color: #deb887;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.home-page .d {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page .e {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page .f {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-6 {
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .g {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-7 {
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .h {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-8 {
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .j {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-10 {

  position: relative;
 
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .i {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-9 {
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .c {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-3 {
  position: relative;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page .a {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .sort-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page .quick-search-text {
  position: relative;
  display: flex;
  width: 125px;
  display: inline-block;
  align-items: center;
  font-family: 'Open Sans', Arial, sans-serif;
}
ul { 
  margin: 0;
  padding: 0;
}
ul.quick-search-text li {
  position: relative;
}
ul.quick-search-text li:hover ul li a:hover  {
  border:5px solid black; 
}
ul.quick-search-text li:hover ul li a {
  border:1px solid black; 
  color: black;
  padding: 15px 20px;
}

ul.quick-search-text li:hover > a {
  background-color: #ef5c28;
  color: #fff;
}
#major_List_1{
  z-index: 1;
  display: block;
  background-color: #D9D9D9;
  padding: 5px 10px; 
  width: auto; 
  margin-left: 20px; 
}
ul.quick-search-text ul {
  opacity: 0;
  position: relative;
  display: none;
}   
ul.quick-search-text li:hover > ul {
  z-index: 99;
  opacity: 1;
  display: block;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}
.home-page .container-7 {
  margin: 1px 16px 2.2px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 150px; 
}
.home-page .google-ad-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 128px;
  color: #000000;
}
.home-page .google-ad-2 {
  background: #D9D9D9;
  position: relative;
  margin: 0 0 16.1px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 12.5px 39.3px;
  width: 1292px;
  box-sizing: border-box;
}
.home-page .searches-tag {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.input-container {
  border: 1px solid #ccc;
  padding: 5px; 
  display: inline-block; 
  border-radius: 10px;
}
.home-page .searchbar {
  border-radius: 12px;
  background: white;
  position: relative;
  margin: 0 30px 33.1px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 0 10.1px 13.3px;
  width: 936px;
  box-sizing: border-box;
}
.home-page .polygon-2 {
  border: none;
  outline: none;
  Background-color: transparent;
  margin: 252.1px 0 255px 0;
  right: 20px;
  width: 50px;
  height: 55px;
}
.home-page .rectangle-1 {
  background: #D9D9D9;
  position: relative;
  margin-right: 55px;
  width: 133px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-2 {
  background: #D9D9D9;
  margin-right: 62px;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-3 {
  background: #D9D9D9;
  margin-right: 58px;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-4 {
  background: #D9D9D9;
  margin-right: 55px;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-5 {
  background: #D9D9D9;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .image-1 {
  background: url('../assets/images/image1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 139px;
  height: 259.9px;
}
.home-page .book-row-1 {
  position: relative;
  margin-bottom: 40.1px;
  display: flex;
  flex-direction: row;
  width: 927px;
  box-sizing: border-box;
}
.home-page .rectangle-6 {
  background: #D9D9D9;
  margin: 0 55px 2.2px 0;
  width: 133px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-7 {
  background: #D9D9D9;
  margin: 0 62px 2.2px 0;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-8 {
  background: #D9D9D9;
  margin: 0 58px 2.2px 0;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-9 {
  background: #D9D9D9;
  margin: 0 55px 2.2px 0;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .rectangle-10 {
  background: #D9D9D9;
  margin-top: 2.2px;
  width: 141px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.home-page .book-row-2 {
  display: flex;
  flex-direction: row;
  width: 927px;
  box-sizing: border-box;
}
.home-page .books-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 927px;
  box-sizing: border-box;
}
.home-page .container {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  width: 1000px;
  box-sizing: border-box;
}
.home-page .ellipse-1 {
  width: 22px;
  height: 20px;
}
.home-page .ellipse-2 {
  width: 22px;
  height: 20px;
}
.home-page .ellipse-3 {
  width: 22px;
  height: 20px;
}
.home-page .container-6 {
  margin-left: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
  box-sizing: border-box;
}
.home-page .polygon-1 {
  position: absolute;
  border: none;
  outline: none;
  Background-color: transparent;
  top: 252.1px;
  right: 0px;
  width: 35px;
  height: 55px;
}
.home-page .books {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 34px;
  right: 8px;
  width: 1001px;
  box-sizing: border-box;
}
.home-page .container-5 {
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1040px;
  height: 900px; 
  box-sizing: border-box;
}
.home-page .career-list {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.home-page .career-list-1 {
  border-radius: 10px;
  background: #D9D9D9;
  position: relative;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32.7px 0.3px 0 0;
  width: 312px;
  height: 681.3px;
  box-sizing: border-box;
}
.home-page .container-3 {
  display: flex;
  flex-direction: row;
  width: 1317px;
  box-sizing: border-box;
}
.home-page .container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1317px;
  height: fit-content;
  box-sizing: border-box;
}
.text_type{
  width: 133px;
  height: 259.9px;
  border: 1px solid #ccc;
}
.text-container {
  max-width: 100%;
  max-height: 100%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  color: black;
  box-sizing: border-box
}
.home-page {
  background-color: #FFFFFF;
  background-size: contain;
  display: flex;
  flex-direction: row;
  padding: 47.1px 46px 0 46px;
  width: 1550px;
  height:100%;
  box-sizing: border-box;
}
.square-frame {
  
  position: absolute;
  margin-top: -110px;
  width: 1000px;
  height: 710px;
  background-color: #FFF8F2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: -1;
}