.login-in .top-book-picture {
  margin: 175px 0 355px 34px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 100px;
  color: white;
}
.input-with-icon {
  position: relative;
}
.input-with-icon .account_p {
  position: absolute;
  background: url('../assets/images/account.png') 50% / cover no-repeat;
  width: 80px;
  height: 70px;
  margin-top: -5px;
  margin-left: -15px;
  
}
.input-with-icon input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.input-with-icon input:focus {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}
.input-with-icon .password_p {
  position: absolute;
  background: url('../assets/images/password.png') 50% / cover no-repeat;
  width: 80px;
  height: 70px;
  margin-top: -5px;
  margin-left:-15px;
  
}
.login-in .short-detail {
  margin-right: 19px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 64px;
  color: #000000;
}
.login-in .topbookpicture {
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-radius: 20px;
  background: url('../assets/images/login.png') 50% / cover no-repeat;
  position: relative;
  margin: 17px 116px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 30px 126px 0;
  font-size: 0px;
  width: 507px;
  height: 888px;

  box-sizing: border-box;
}
.login-in .welcome {
  margin: 0 0.9px 83px 0;
  font-size: 96px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.login-in .account {
  margin: 0 5px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
.login-in .rectangle-43 {
  background: #D9D9D9;
  margin-left: 5px;
  width: 454px;
  height: 63px;
}
.login-in .password {
  margin: 0 6px 12px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}

.login-in .rectangle-44 {
  background: #f6efef;
  margin-left: 60px;
  font-size: 35px;
  width: 454px;
  height: 63px;
}
.login-in .login {
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  margin: 0 19px 15px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.login-in .confirm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 36px;
  color: #000000;
}
.login-in .confirmbutton {
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-radius: 20px;
  background: #D9D9D9;
  position: relative;
  margin: 0 25px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px 9px 5.1px;
  box-sizing: border-box;
}
.login-in .line-3 {
  background: #000000;
  margin-bottom: 36px;
  width: 656px;
  height: 1px;
}
.login-in .quick-login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 40px;
  color: #000000;
}
.login-in .quickloginbutton {
  background: #D9D9D9;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 41.9px 7px 0;
  width: 459px;
  box-sizing: border-box;
}
.login-in .container {
  margin-bottom: 159px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 656px;
  height: fit-content;
  box-sizing: border-box;
}
.login-in {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 99px 120px 155px 150px;
  width: 1549px;
  height: inherit;
  box-sizing: border-box;
}
